anthropic
openai
google-genai
pre-commit
datasets
tiktoken
libcst
llama-index
jsonlines
swebench==2.1.8
psycopg2-binary
termcolor
googlesearch-python
llama-index-embeddings-gemini 
llama-index-llms-gemini 
llama-index-readers-web 
beautifulsoup4